[Desktop Entry]
Encoding=UTF-8
Name=vkccoin
Comment=VKC P2P Cryptocurrency
Exec=vkccoin-qt %u
Terminal=false
Type=Application
Icon=vkccoin128
MimeType=x-scheme-handler/vkccoin;
Categories=Office;Finance;
Name[ru]=vkccoin-qt.desktop.desktop
